footer {
	background-color: $background-black;
	text-align: center;
	position: relative;

	.container {
		width: 85%;
	}
	.row-grid {
		margin: 20px auto;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
		.social-media {
			button {
				@include btn-social-icons-template;
				margin: 15px 5px;
				background-color: $background-darkGrey;
			}
		}
		.awax {
			margin-top: 10px;
			margin-bottom: 10px;
			color: $background-white;
			font-size: $font-medium-size;
			font-weight: $font-medium-weight;
			line-height: 25px;
			text-transform: uppercase;
		}

		.description {
			margin: auto 10%;
			color: $font-description-color;
			font-size: $font-light-size;
			font-weight: $font-light-weight;
			line-height: 21px;
		}

		.form {
			background-color: $background-darkGrey;
		}

		form {
			height: 200px;
			padding: 40px;
			.text {
				width: 80%;
				margin: 15px auto;
				border: none;
				border-bottom: 2px solid $border-color-2;
				background-color: transparent;
				text-align: center;
				color: $font-contact-color;
				font-size: $font-constact-size;
				font-weight: $font-light-weight;
				line-height: 25px;
				text-transform: uppercase;
			}
			.subscribe {
				@include btn-template;
			}
		}
	}

	#backToTop {
		position: fixed;
		bottom: 2%;
		left: 5%;
		transform: translateY(-50%);
		width: 45px;
		height: 45px;
		background-color: $background-gold;
		border-radius: 50%;
		border: none;
		z-index: 999;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		i {
			border: solid #fff;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 8px;
			margin-top: 15px;
			font-weight: 400;
		}
		.up {
			transform: rotate(-135deg);
		}

		&.show {
			opacity: 1;
			visibility: visible;
		}
	}

	@media (min-width: $desktop) {
		.container {
			width: 80%;
		}
		.row-grid {
			margin: 40px auto;
			grid-template-columns: repeat(3, 1fr);

			.social-m {
				position: relative;
				text-align: left;
				.awax {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
		}

		#backToTop {
			width: 65px;
			height: 65px;
			position: absolute;
			top: 0;
			left: 5%;
			transform: translateY(-50%);
			opacity: 1;
			i {
				padding: 10px;
				margin-top: 25px;
			}
		}
	}
}
