#price {
	background-color: $background-price;

	.title {
		@include title-template;
	}
	text-align: center;
	.row-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		margin-bottom: 30px;
		.box {
			margin: 0 auto;
			background-color: #fff;
			width: 255px;
			padding: 30px;
			h2,
			h3,
			p {
				text-transform: uppercase;
			}
			h2,
			h3 {
				color: $font-paragraph-color;
				line-height: 21px;
			}
			h2,
			p,
			li {
				font-weight: $font-medium-weight;
			}
			h3 {
				font-size: $font-medium-size;

				padding-bottom: 15px;
			}
			h2 {
				font-size: $font-large-2-size;
				font-weight: $font-bold-weight;
			}
			p {
				color: $font-header-description-color;
				font-size: $font-small-size;
				line-height: 25px;
			}

			ul {
				margin-top: 20px;
			}

			li {
				color: $font-description-color;
				font-size: $font-small-size;
				line-height: 13px;
				&::after {
					content: '';
					border: 0.5px solid $font-description-color;
					width: 5%;
					margin: 10px auto;
					display: block;
				}
				&:last-of-type::after {
					display: none;
				}
			}
		}
	}

	button {
		@include btn-template;
		margin-bottom: 5px;
		background-color: $background-black;
		@media (min-width: $desktop) {
			&:hover {
				background-color: $background-gold;
			}
		}
	}

	@media (min-width: $tablet) {
		.row-grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (min-width: $largeDesktop) {
		.container {
			width: 90%;
		}
		.row-grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
